In [1]:
import numpy as np
import numpy.ma as ma
import pandas as pd
import csv
import pickle

In [2]:
ratings = pd.read_csv('../../Dataset/ml-latest-small/ratings.csv')
movies = pd.read_csv('../../Dataset/ml-latest-small/movies.csv')


#we are going to extract first 5 users for debugging causes
#the first 561 rows are the first 5 users
#code must be written flexible to change the data into the 25m dataset
#first we have to merge all the data movieid, userid, rating, year, genres, etc. so everything is all together

#goal is to:
#1- sort the data descending according to rating counts by their genres 
#2- divide each genre's score by genretotalcount and get a float number
#3- reverse all the float number scores and this score is each genre's score
#5- say if movie has 2 genres, drama and romance. sum romance and drama score and multiply by total count. this is how much 
#this movie should be repeated

#we need three files:
#1- item data: movieid | year | average rating(movie's) | 14 genres
#2- user data: userid | rating count | rating average(user's) | 14 genres
#3- true ratings of movies (y)

#to get these files it is easier to work with a dataset that has all the columns

In [3]:
#first we have to find how much rating each genre has
#movies = movieid | title("movie name" ("movie year")) | genres(seperated by "|") we have to one hot encode genres and seperate the year
#from the title

In [4]:
#checking for how many movies there are
print(ratings['movieId'].nunique())
print(movies['movieId'].nunique())

9724
9742

In [5]:
##dropping first 5 users ratings from ratings dataset for debugging purposes
#first_5_users_df = ratings.head(560)
#ratings = ratings.drop(ratings.index[:560])

In [6]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [7]:
#we have to one hot encode genres
genres = movies['genres'].str.get_dummies('|')
#dropping some columns
genres.drop(columns=['(no genres listed)', 'Film-Noir', 'IMAX', 'Musical', 'Western', 'War'] ,axis=1, inplace=True)
genres

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,0,1,1,1,1,0,0,0,1,0,0,0,0,0
1,0,1,0,1,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,1,0,0
3,0,0,0,0,1,0,0,1,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,1,0,1,0,1,0,0,0,1,0,0,0,0,0
9738,0,0,1,0,1,0,0,0,1,0,0,0,0,0
9739,0,0,0,0,0,0,0,1,0,0,0,0,0,0
9740,1,0,1,0,0,0,0,0,0,0,0,0,0,0
9741,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [8]:
#we made this dataframe for using to make item_vecs and for movie_analysis dataframe
movies_w_genres = pd.concat([movies, genres], axis=1)

In [9]:
#merging one hot encoded genres with movies dataframe
movies = pd.concat([movies, genres], axis=1)
movies.drop(columns='genres', axis=1, inplace=True)
movies

,movieId,title,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1,Toy Story (1995),0,1,1,1,1,0,0,0,1,0,0,0,0,0
1,2,Jumanji (1995),0,1,0,1,0,0,0,0,1,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,0,0,0,1,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,0,0,0,1,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),1,0,1,0,1,0,0,0,1,0,0,0,0,0
9738,193583,No Game No Life: Zero (2017),0,0,1,0,1,0,0,0,1,0,0,0,0,0
9739,193585,Flint (2017),0,0,0,0,0,0,0,1,0,0,0,0,0,0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),1,0,1,0,0,0,0,0,0,0,0,0,0,0
9741,193609,Andrew Dice Clay: Dice Rules (1991),0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [10]:
#extarct year from its title
pattern = '\((\d{4})\)'
movies['year'] = movies.title.str.extract(pattern, expand=False)

In [11]:
#finding movieid's has null values
null_ids = movies[movies['year'].isnull()]['movieId']
null_ids = pd.DataFrame(null_ids)
#dataframe  has null movieids
null_ids
null_id_array = null_ids['movieId'].values
#array has null movieids
null_id_array

array([ 40697, 140956, 143410, 147250, 149334, 156605, 162414, 167570,
       171495, 171631, 171749, 171891, 176601], dtype=int64)

In [12]:
#we got the years of the movies manually from internet and we need to merge it with movies dataset
years_of_null_movies = ["1994", "2018", "2015", "1979", "2016", "2016", "2016", "2016", "2019", "2017", "2006", "2017", "2011"]
null_ids['year'] = years_of_null_movies

null_ids

      movieId  year
6059    40697  1994
9031   140956  2018
9091   143410  2015
9138   147250  1979
9179   149334  2016
9259   156605  2016
9367   162414  2016
9448   167570  2016
9514   171495  2019
9515   171631  2017
9518   171749  2006
9525   171891  2017
9611   176601  2011

In [13]:
#filled movies df's year columns with the values that we found manually
movies['year'] = movies['year'].fillna(null_ids['year'])

In [14]:
ratings.drop(columns='timestamp', inplace=True, axis=1)
ratings

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [15]:
#gerelerÄ± ratings dfle birleÅŸtir, groupbylÄ± bi ÅŸeylerle topla
#genre countlarÄ± bul

In [16]:
#reindex year column
movies = movies.reindex(columns=['movieId', 'title', 'year', 'Action', 'Adventure', 'Animation', 'Children',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Horror',
       'Mystery', 'Romance', 'Sci-Fi', 'Thriller'])
movies

,movieId,title,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1,Toy Story (1995),1995,0,1,1,1,1,0,0,0,1,0,0,0,0,0
1,2,Jumanji (1995),1995,0,1,0,1,0,0,0,0,1,0,0,0,0,0
2,3,Grumpier Old Men (1995),1995,0,0,0,0,1,0,0,0,0,0,0,1,0,0
3,4,Waiting to Exhale (1995),1995,0,0,0,0,1,0,0,1,0,0,0,1,0,0
4,5,Father of the Bride Part II (1995),1995,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),2017,1,0,1,0,1,0,0,0,1,0,0,0,0,0
9738,193583,No Game No Life: Zero (2017),2017,0,0,1,0,1,0,0,0,1,0,0,0,0,0
9739,193585,Flint (2017),2017,0,0,0,0,0,0,0,1,0,0,0,0,0,0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),2018,1,0,1,0,0,0,0,0,0,0,0,0,0,0
9741,193609,Andrew Dice Clay: Dice Rules (1991),1991,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [17]:
#merge rating df with their genres
merged_ratings = pd.merge(ratings, movies, on='movieId', how='outer')
merged_ratings

,userId,movieId,rating,title,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1.0,1,4.0,Toy Story (1995),1995,0,1,1,1,1,0,0,0,1,0,0,0,0,0
1,5.0,1,4.0,Toy Story (1995),1995,0,1,1,1,1,0,0,0,1,0,0,0,0,0
2,7.0,1,4.5,Toy Story (1995),1995,0,1,1,1,1,0,0,0,1,0,0,0,0,0
3,15.0,1,2.5,Toy Story (1995),1995,0,1,1,1,1,0,0,0,1,0,0,0,0,0
4,17.0,1,4.5,Toy Story (1995),1995,0,1,1,1,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100849,NaN,30892,NaN,In the Realms of the Unreal (2004),2004,0,0,1,0,0,0,1,0,0,0,0,0,0,0
100850,NaN,32160,NaN,Twentieth Century (1934),1934,0,0,0,0,1,0,0,0,0,0,0,0,0,0
100851,NaN,32371,NaN,Call Northside 777 (1948),1948,0,0,0,0,0,1,0,1,0,0,0,0,0,0
100852,NaN,34482,NaN,"Browning Version, The (1951)",1951,0,0,0,0,0,0,0,1,0,0,0,0,0,0
100853,NaN,85565,NaN,Chalet Girl (2011),2011,0,0,0,0,1,0,0,0,0,0,0,1,0,0

In [18]:
#drop unrated movies
merged_ratings = merged_ratings.drop(labels=range(100836, 100854), axis=0)
merged_ratings

,userId,movieId,rating,title,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1.0,1,4.0,Toy Story (1995),1995,0,1,1,1,1,0,0,0,1,0,0,0,0,0
1,5.0,1,4.0,Toy Story (1995),1995,0,1,1,1,1,0,0,0,1,0,0,0,0,0
2,7.0,1,4.5,Toy Story (1995),1995,0,1,1,1,1,0,0,0,1,0,0,0,0,0
3,15.0,1,2.5,Toy Story (1995),1995,0,1,1,1,1,0,0,0,1,0,0,0,0,0
4,17.0,1,4.5,Toy Story (1995),1995,0,1,1,1,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,610.0,160341,2.5,Bloodmoon (1997),1997,1,0,0,0,0,0,0,0,0,0,0,0,0,1
100832,610.0,160527,4.5,Sympathy for the Underdog (1971),1971,1,0,0,0,0,1,0,1,0,0,0,0,0,0
100833,610.0,160836,3.0,Hazard (2005),2005,1,0,0,0,0,0,0,1,0,0,0,0,0,1
100834,610.0,163937,3.5,Blair Witch (2016),2016,0,0,0,0,0,0,0,0,0,1,0,0,0,1
100835,610.0,163981,3.5,31 (2016),2016,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [19]:
#find each genre's count
genres = ['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Horror', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller']

genres_dict = {}

for i in genres:
    genres_dict[i] = merged_ratings[i].sum()

genres_dict = {k: v for k, v in sorted(genres_dict.items(), key=lambda item: item[1])}
genres_dict

{'Documentary': 1219,
 'Animation': 6988,
 'Horror': 7291,
 'Mystery': 7674,
 'Children': 9208,
 'Fantasy': 11834,
 'Crime': 16681,
 'Sci-Fi': 17243,
 'Romance': 18124,
 'Adventure': 24161,
 'Thriller': 26452,
 'Action': 30635,
 'Comedy': 39053,
 'Drama': 41928}

In [20]:
#count of each genres repeated is 258491 (genretotalcount)
#rating count is 100837
#we calculated the genre scores (genre's count / genres total count)

genre_scores = {}

for i in genres_dict.keys():
    genre_scores[i] = genres_dict[i] / 258491

genre_scores = {k: v for k, v in sorted(genre_scores.items(), key=lambda item: item[1], reverse=True)}
genre_scores

{'Drama': 0.16220293936732808,
 'Comedy': 0.15108069526598605,
 'Action': 0.11851476453725662,
 'Thriller': 0.10233238294563447,
 'Adventure': 0.09346940512435636,
 'Romance': 0.0701146268148601,
 'Sci-Fi': 0.0667063843615445,
 'Crime': 0.06453222742764739,
 'Fantasy': 0.045781091024445726,
 'Children': 0.03562212997744602,
 'Mystery': 0.029687687385634317,
 'Horror': 0.028206011041003363,
 'Animation': 0.027033823227888013,
 'Documentary': 0.0047158314989690165}

In [21]:
#we flipped the score values so we can represent the underrated genres more

sorted_values = sorted(genre_scores.values())

reversed_genre_scores = {k: v for k, v in zip(genre_scores.keys(), sorted_values)}
reversed_genre_scores

{'Drama': 0.0047158314989690165,
 'Comedy': 0.027033823227888013,
 'Action': 0.028206011041003363,
 'Thriller': 0.029687687385634317,
 'Adventure': 0.03562212997744602,
 'Romance': 0.045781091024445726,
 'Sci-Fi': 0.06453222742764739,
 'Crime': 0.0667063843615445,
 'Fantasy': 0.0701146268148601,
 'Children': 0.09346940512435636,
 'Mystery': 0.10233238294563447,
 'Horror': 0.11851476453725662,
 'Animation': 0.15108069526598605,
 'Documentary': 0.16220293936732808}

In [22]:
#we convert dictionary to dataframe

genre_score_df = pd.DataFrame.from_dict(reversed_genre_scores, orient='index')
genre_score_df = genre_score_df.transpose()
genre_score_df

,Drama,Comedy,Action,Thriller,Adventure,Romance,Sci-Fi,Crime,Fantasy,Children,Mystery,Horror,Animation,Documentary
0,0.004716,0.027034,0.028206,0.029688,0.035622,0.045781,0.064532,0.066706,0.070115,0.093469,0.102332,0.118515,0.151081,0.162203

In [23]:
#assign each genres score to the one hot encoded genres df

for i in genre_score_df.columns:
    movies[i].replace(1, genre_score_df[i][0], inplace=True)

movies

,movieId,title,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1,Toy Story (1995),1995,0.000000,0.035622,0.151081,0.093469,0.027034,0.0,0.0,0.000000,0.070115,0.0,0.0,0.000000,0.0,0.0
1,2,Jumanji (1995),1995,0.000000,0.035622,0.000000,0.093469,0.000000,0.0,0.0,0.000000,0.070115,0.0,0.0,0.000000,0.0,0.0
2,3,Grumpier Old Men (1995),1995,0.000000,0.000000,0.000000,0.000000,0.027034,0.0,0.0,0.000000,0.000000,0.0,0.0,0.045781,0.0,0.0
3,4,Waiting to Exhale (1995),1995,0.000000,0.000000,0.000000,0.000000,0.027034,0.0,0.0,0.004716,0.000000,0.0,0.0,0.045781,0.0,0.0
4,5,Father of the Bride Part II (1995),1995,0.000000,0.000000,0.000000,0.000000,0.027034,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),2017,0.028206,0.000000,0.151081,0.000000,0.027034,0.0,0.0,0.000000,0.070115,0.0,0.0,0.000000,0.0,0.0
9738,193583,No Game No Life: Zero (2017),2017,0.000000,0.000000,0.151081,0.000000,0.027034,0.0,0.0,0.000000,0.070115,0.0,0.0,0.000000,0.0,0.0
9739,193585,Flint (2017),2017,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.004716,0.000000,0.0,0.0,0.000000,0.0,0.0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),2018,0.028206,0.000000,0.151081,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
9741,193609,Andrew Dice Clay: Dice Rules (1991),1991,0.000000,0.000000,0.000000,0.000000,0.027034,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0

In [24]:
#now we have to sum all the scores each movie has
movies['movie_score'] = movies.iloc[:,3:].sum(axis=1)
movies

,movieId,title,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller,movie_score
0,1,Toy Story (1995),1995,0.000000,0.035622,0.151081,0.093469,0.027034,0.0,0.0,0.000000,0.070115,0.0,0.0,0.000000,0.0,0.0,0.377321
1,2,Jumanji (1995),1995,0.000000,0.035622,0.000000,0.093469,0.000000,0.0,0.0,0.000000,0.070115,0.0,0.0,0.000000,0.0,0.0,0.199206
2,3,Grumpier Old Men (1995),1995,0.000000,0.000000,0.000000,0.000000,0.027034,0.0,0.0,0.000000,0.000000,0.0,0.0,0.045781,0.0,0.0,0.072815
3,4,Waiting to Exhale (1995),1995,0.000000,0.000000,0.000000,0.000000,0.027034,0.0,0.0,0.004716,0.000000,0.0,0.0,0.045781,0.0,0.0,0.077531
4,5,Father of the Bride Part II (1995),1995,0.000000,0.000000,0.000000,0.000000,0.027034,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.027034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),2017,0.028206,0.000000,0.151081,0.000000,0.027034,0.0,0.0,0.000000,0.070115,0.0,0.0,0.000000,0.0,0.0,0.276435
9738,193583,No Game No Life: Zero (2017),2017,0.000000,0.000000,0.151081,0.000000,0.027034,0.0,0.0,0.000000,0.070115,0.0,0.0,0.000000,0.0,0.0,0.248229
9739,193585,Flint (2017),2017,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.004716,0.000000,0.0,0.0,0.000000,0.0,0.0,0.004716
9740,193587,Bungo Stray Dogs: Dead Apple (2018),2018,0.028206,0.000000,0.151081,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.179287
9741,193609,Andrew Dice Clay: Dice Rules (1991),1991,0.000000,0.000000,0.000000,0.000000,0.027034,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.027034

In [25]:

movies.sort_values(by=['movie_score']).head(85)#81 tane film gidicek bb movie score = 0
#sadece sildiÄŸimiz genrelara sahip olan filmlere ne yapÄ±caz?
#tekrar sayÄ±sÄ± Ã§ok yÃ¼ksek?????
    #genre sayÄ±sÄ±na bÃ¶lebiliriz
    #1000' gibi bi ÅŸeye bÃ¶lebiliriz
    #baÅŸka bi ÅŸeyler?

,movieId,title,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller,movie_score
700,918,Meet Me in St. Louis (1944),1944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3828,5372,Calamity Jane (1953),1953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
8782,129250,Superfast! (2015),2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
178,210,Wild Bill (1995),1995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4633,6911,"Jolson Story, The (1946)",1946,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,416,Bad Girls (1994),1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4862,7265,"Dreamers, The (2003)",2003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004716,0.0,0.0,0.0,0.0,0.0,0.0,0.004716
4860,7263,Miracle (2004),2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004716,0.0,0.0,0.0,0.0,0.0,0.0,0.004716
1278,1695,Artemisia (1997),1997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004716,0.0,0.0,0.0,0.0,0.0,0.0,0.004716
4804,7158,House of Sand and Fog (2003),2003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004716,0.0,0.0,0.0,0.0,0.0,0.0,0.004716

In [26]:
#we sort dfs by movieId

movies = movies.sort_values(by='movie_score')[81:]
movies.sort_values(by='movieId', inplace=True)

In [27]:
ratings.sort_values(by='movieId', inplace=True)

In [28]:
#calculating ratings counts and ratings mean

movie_rating_count = ratings[['movieId','rating']].groupby('movieId').count()
movie_rating_mean = ratings[['movieId','rating']].groupby('movieId').mean()

In [29]:
#we made a new dataframe named movie_analysis

movie_analysis = movie_rating_count.merge(movie_rating_mean, on='movieId', how='inner')
movie_analysis.rename(columns={'rating_x':'rating_count'}, inplace=True)
movie_analysis.rename(columns={'rating_y':'avg_rating'}, inplace=True)
movie_analysis

         rating_count  avg_rating
movieId
1                 215    3.920930
2                 110    3.431818
3                  52    3.259615
4                   7    2.357143
5                  49    3.071429
...               ...         ...
193581              1    4.000000
193583              1    3.500000
193585              1    3.500000
193587              1    3.500000
193609              1    4.000000

[9724 rows x 2 columns]

In [30]:
#we set the threshold (30) now we have 860 movies

movie_analysis = movie_analysis[movie_analysis['rating_count'] > 30]
movie_analysis = movie_analysis.reset_index()
movie_analysis

     movieId  rating_count  avg_rating
0          1           215    3.920930
1          2           110    3.431818
2          3            52    3.259615
3          5            49    3.071429
4          6           102    3.946078
..       ...           ...         ...
855   122904            54    3.833333
856   134130            48    4.000000
857   134853            43    3.813953
858   139385            31    3.903226
859   152081            32    3.890625

[860 rows x 3 columns]

In [31]:
#merge movies with movie_analysis
movie_analysis = movie_analysis.merge(movies,on='movieId')
movie_analysis

,movieId,rating_count,avg_rating,title,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller,movie_score
0,1,215,3.920930,Toy Story (1995),1995,0.000000,0.035622,0.151081,0.093469,0.027034,0.000000,0.0,0.000000,0.070115,0.0,0.0,0.000000,0.000000,0.000000,0.377321
1,2,110,3.431818,Jumanji (1995),1995,0.000000,0.035622,0.000000,0.093469,0.000000,0.000000,0.0,0.000000,0.070115,0.0,0.0,0.000000,0.000000,0.000000,0.199206
2,3,52,3.259615,Grumpier Old Men (1995),1995,0.000000,0.000000,0.000000,0.000000,0.027034,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.045781,0.000000,0.000000,0.072815
3,5,49,3.071429,Father of the Bride Part II (1995),1995,0.000000,0.000000,0.000000,0.000000,0.027034,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.027034
4,6,102,3.946078,Heat (1995),1995,0.028206,0.000000,0.000000,0.000000,0.000000,0.066706,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.029688,0.124600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,122904,54,3.833333,Deadpool (2016),2016,0.028206,0.035622,0.000000,0.000000,0.027034,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.064532,0.000000,0.155394
856,134130,48,4.000000,The Martian (2015),2015,0.000000,0.035622,0.000000,0.000000,0.000000,0.000000,0.0,0.004716,0.000000,0.0,0.0,0.000000,0.064532,0.000000,0.104870
857,134853,43,3.813953,Inside Out (2015),2015,0.000000,0.035622,0.151081,0.093469,0.027034,0.000000,0.0,0.004716,0.070115,0.0,0.0,0.000000,0.000000,0.000000,0.382037
858,139385,31,3.903226,The Revenant (2015),2015,0.000000,0.035622,0.000000,0.000000,0.000000,0.000000,0.0,0.004716,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.040338
859,152081,32,3.890625,Zootopia (2016),2016,0.028206,0.035622,0.151081,0.093469,0.027034,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.335412

In [35]:
movie_analysis['title'].to_csv('./csv/available_movies.csv', index=False, header=False)

In [32]:
#we divide each movies movie_score to genre count that each movie has, so we balanced the repeat count for movies

counter = 0

for index, row in movie_analysis.iterrows():
    for i in range(5,19):
        if row[i] > 0:
            counter +=1
    movie_analysis['movie_score'][index] = row[19] / counter
    counter = 0

C:\Users\arsla\AppData\Local\Temp\ipykernel_14380\4179684412.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_analysis['movie_score'][index] = row[19] / counter

In [33]:
#repeat count formula is ((movie_score * total_rating_count / 500 )+ rating_count) for each movie (we divide to 500 because we wanted to balance the repeat count)

movie_analysis = movie_analysis.assign(repeatCount=lambda x: (x.movie_score  * 57358 / 500) + x.rating_count)
movie_analysis = movie_analysis.astype({"repeatCount": int})
movie_analysis

,movieId,rating_count,avg_rating,title,year,Action,Adventure,Animation,Children,Comedy,...,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller,movie_score,repeatCount
0,1,215,3.920930,Toy Story (1995),1995,0.000000,0.035622,0.151081,0.093469,0.027034,...,0.0,0.000000,0.070115,0.0,0.0,0.000000,0.000000,0.000000,0.075464,223
1,2,110,3.431818,Jumanji (1995),1995,0.000000,0.035622,0.000000,0.093469,0.000000,...,0.0,0.000000,0.070115,0.0,0.0,0.000000,0.000000,0.000000,0.066402,117
2,3,52,3.259615,Grumpier Old Men (1995),1995,0.000000,0.000000,0.000000,0.000000,0.027034,...,0.0,0.000000,0.000000,0.0,0.0,0.045781,0.000000,0.000000,0.036407,56
3,5,49,3.071429,Father of the Bride Part II (1995),1995,0.000000,0.000000,0.000000,0.000000,0.027034,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.027034,52
4,6,102,3.946078,Heat (1995),1995,0.028206,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.029688,0.041533,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,122904,54,3.833333,Deadpool (2016),2016,0.028206,0.035622,0.000000,0.000000,0.027034,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.064532,0.000000,0.038849,58
856,134130,48,4.000000,The Martian (2015),2015,0.000000,0.035622,0.000000,0.000000,0.000000,...,0.0,0.004716,0.000000,0.0,0.0,0.000000,0.064532,0.000000,0.034957,52
857,134853,43,3.813953,Inside Out (2015),2015,0.000000,0.035622,0.151081,0.093469,0.027034,...,0.0,0.004716,0.070115,0.0,0.0,0.000000,0.000000,0.000000,0.063673,50
858,139385,31,3.903226,The Revenant (2015),2015,0.000000,0.035622,0.000000,0.000000,0.000000,...,0.0,0.004716,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.020169,33
859,152081,32,3.890625,Zootopia (2016),2016,0.028206,0.035622,0.151081,0.093469,0.027034,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.067082,39

In [34]:
movie_to_idx = {
    movie: i for i, movie in 
    enumerate(list(movies.set_index('movieId').loc[movie_analysis.set_index('movieId').index].title))
}

In [35]:
with open('./pickles/movie_to_idx.pickle', 'wb') as f:
    # Dump the dictionary into the file using pickle
    pickle.dump(movie_to_idx, f)

In [36]:
movie_to_idx

{'Toy Story (1995)': 0,
 'Jumanji (1995)': 1,
 'Grumpier Old Men (1995)': 2,
 'Father of the Bride Part II (1995)': 3,
 'Heat (1995)': 4,
 'Sabrina (1995)': 5,
 'GoldenEye (1995)': 6,
 'American President, The (1995)': 7,
 'Casino (1995)': 8,
 'Sense and Sensibility (1995)': 9,
 'Ace Ventura: When Nature Calls (1995)': 10,
 'Get Shorty (1995)': 11,
 'Copycat (1995)': 12,
 'Leaving Las Vegas (1995)': 13,
 'City of Lost Children, The (CitÃ© des enfants perdus, La) (1995)': 14,
 'Dangerous Minds (1995)': 15,
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)': 16,
 'Babe (1995)': 17,
 'Dead Man Walking (1995)': 18,
 'Clueless (1995)': 19,
 'Mortal Kombat (1995)': 20,
 'To Die For (1995)': 21,
 'Seven (a.k.a. Se7en) (1995)': 22,
 'Pocahontas (1995)': 23,
 'Usual Suspects, The (1995)': 24,
 'Postman, The (Postino, Il) (1994)': 25,
 'Indian in the Cupboard, The (1995)': 26,
 "Mr. Holland's Opus (1995)": 27,
 'Bio-Dome (1996)': 28,
 'From Dusk Till Dawn (1996)': 29,
 'Broken Arrow (1996)': 30,
 'Happy Gilmore (1996)': 31,
 'Braveheart (1995)': 32,
 'Taxi Driver (1976)': 33,
 'Rumble in the Bronx (Hont faan kui) (1995)': 34,
 'Down Periscope (1996)': 35,
 'Birdcage, The (1996)': 36,
 'Bad Boys (1995)': 37,
 'Apollo 13 (1995)': 38,
 'Rob Roy (1995)': 39,
 'Batman Forever (1995)': 40,
 'Casper (1995)': 41,
 'Congo (1995)': 42,
 'Crimson Tide (1995)': 43,
 'Desperado (1995)': 44,
 'Die Hard: With a Vengeance (1995)': 45,
 'First Knight (1995)': 46,
 'Hackers (1995)': 47,
 'Johnny Mnemonic (1995)': 48,
 'Judge Dredd (1995)': 49,
 'Mallrats (1995)': 50,
 'Net, The (1995)': 51,
 'Nine Months (1995)': 52,
 'Showgirls (1995)': 53,
 'Species (1995)': 54,
 'Waterworld (1995)': 55,
 'Billy Madison (1995)': 56,
 'Clerks (1994)': 57,
 'Don Juan DeMarco (1995)': 58,
 'Disclosure (1994)': 59,
 'Dumb & Dumber (Dumb and Dumber) (1994)': 60,
 'Ed Wood (1994)': 61,
 'French Kiss (1995)': 62,
 'I.Q. (1994)': 63,
 'Interview with the Vampire: The Vampire Chronicles (1994)': 64,
 'Junior (1994)': 65,
 'Star Wars: Episode IV - A New Hope (1977)': 66,
 'Little Women (1994)': 67,
 'Like Water for Chocolate (Como agua para chocolate) (1992)': 68,
 'Legends of the Fall (1994)': 69,
 'Madness of King George, The (1994)': 70,
 'Miracle on 34th Street (1994)': 71,
 'Nell (1994)': 72,
 'Natural Born Killers (1994)': 73,
 'Outbreak (1995)': 74,
 'LÃ©on: The Professional (a.k.a. The Professional) (LÃ©on) (1994)': 75,
 'Pulp Fiction (1994)': 76,
 'Quiz Show (1994)': 77,
 'Quick and the Dead, The (1995)': 78,
 'Specialist, The (1994)': 79,
 'Stargate (1994)': 80,
 'Santa Clause, The (1994)': 81,
 'Shawshank Redemption, The (1994)': 82,
 'Tank Girl (1995)': 83,
 'Star Trek: Generations (1994)': 84,
 'Tommy Boy (1995)': 85,
 "What's Eating Gilbert Grape (1993)": 86,
 'While You Were Sleeping (1995)': 87,
 "Muriel's Wedding (1994)": 88,
 'Ace Ventura: Pet Detective (1994)': 89,
 'Adventures of Priscilla, Queen of the Desert, The (1994)': 90,
 'Clear and Present Danger (1994)': 91,
 'Client, The (1994)': 92,
 'Crow, The (1994)': 93,
 'Flintstones, The (1994)': 94,
 'Forrest Gump (1994)': 95,
 'Four Weddings and a Funeral (1994)': 96,
 'Jungle Book, The (1994)': 97,
 'Lion King, The (1994)': 98,
 'Mask, The (1994)': 99,
 'Maverick (1994)': 100,
 'Naked Gun 33 1/3: The Final Insult (1994)': 101,
 'River Wild, The (1994)': 102,
 'Speed (1994)': 103,
 'True Lies (1994)': 104,
 'Addams Family Values (1993)': 105,
 'Beverly Hills Cop III (1994)': 106,
 "Carlito's Way (1993)": 107,
 "City Slickers II: The Legend of Curly's Gold (1994)": 108,
 'Cliffhanger (1993)': 109,
 'Coneheads (1993)': 110,
 'Dave (1993)': 111,
 'Dazed and Confused (1993)': 112,
 'Demolition Man (1993)': 113,
 'Firm, The (1993)': 114,
 'Free Willy (1993)': 115,
 'Fugitive, The (1993)': 116,
 'Hot Shots! Part Deux (1993)': 117,
 'Hudsucker Proxy, The (1994)': 118,
 'In the Line of Fire (1993)': 119,
 'Jurassic Park (1993)': 120,
 'Last Action Hero (1993)': 121,
 'Executive Decision (1996)': 122,
 'Much Ado About Nothing (1993)': 123,
 'Mrs. Doubtfire (1993)': 124,
 'Philadelphia (1993)': 125,
 'Piano, The (1993)': 126,
 'Robin Hood: Men in Tights (1993)': 127,
 'Rudy (1993)': 128,
 "Schindler's List (1993)": 129,
 'Searching for Bobby Fischer (1993)': 130,
 'Sleepless in Seattle (1993)': 131,
 'Blade Runner (1982)': 132,
 'So I Married an Axe Murderer (1993)': 133,
 'Nightmare Before Christmas, The (1993)': 134,
 'Three Musketeers, The (1993)': 135,
 'Tombstone (1993)': 136,
 'True Romance (1993)': 137,
 'Brady Bunch Movie, The (1995)': 138,
 'Home Alone (1990)': 139,
 'Ghost (1990)': 140,
 'Aladdin (1992)': 141,
 'Terminator 2: Judgment Day (1991)': 142,
 'Dances with Wolves (1990)': 143,
 'Batman (1989)': 144,
 'Silence of the Lambs, The (1991)': 145,
 'Snow White and the Seven Dwarfs (1937)': 146,
 'Beauty and the Beast (1991)': 147,
 'Pinocchio (1940)': 148,
 'Pretty Woman (1990)': 149,
 'Fargo (1996)': 150,
 'Heavy Metal (1981)': 151,
 'Aristocats, The (1970)': 152,
 'Primal Fear (1996)': 153,
 'Sgt. Bilko (1996)': 154,
 'Mission: Impossible (1996)': 155,
 'Dragonheart (1996)': 156,
 'James and the Giant Peach (1996)': 157,
 'Mystery Science Theater 3000: The Movie (1996)': 158,
 'Space Jam (1996)': 159,
 'Truth About Cats & Dogs, The (1996)': 160,
 'Multiplicity (1996)': 161,
 'Craft, The (1996)': 162,
 'Rock, The (1996)': 163,
 'Twister (1996)': 164,
 'Wallace & Gromit: A Close Shave (1995)': 165,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)': 166,
 'Striptease (1996)': 167,
 'Trainspotting (1996)': 168,
 'Independence Day (a.k.a. ID4) (1996)': 169,
 'Hunchback of Notre Dame, The (1996)': 170,
 'Cable Guy, The (1996)': 171,
 'Kingpin (1996)': 172,
 'Eraser (1996)': 173,
 'Nutty Professor, The (1996)': 174,
 'Phenomenon (1996)': 175,
 'Time to Kill, A (1996)': 176,
 'Ransom (1996)': 177,
 'Matilda (1996)': 178,
 'Escape from L.A. (1996)': 179,
 'Tin Cup (1996)': 180,
 'Godfather, The (1972)': 181,
 "Singin' in the Rain (1952)": 182,
 "Breakfast at Tiffany's (1961)": 183,
 'Vertigo (1958)': 184,
 'Rear Window (1954)': 185,
 'North by Northwest (1959)': 186,
 'Some Like It Hot (1959)': 187,
 'Casablanca (1942)': 188,
 'Maltese Falcon, The (1941)': 189,
 'My Fair Lady (1964)': 190,
 'Wizard of Oz, The (1939)': 191,
 'Gone with the Wind (1939)': 192,
 'Citizen Kane (1941)': 193,
 '2001: A Space Odyssey (1968)': 194,
 "It's a Wonderful Life (1946)": 195,
 'African Queen, The (1951)': 196,
 'Cool Runnings (1993)': 197,
 'Cinderella (1950)': 198,
 'Mary Poppins (1964)': 199,
 'Dumbo (1941)': 200,
 'Alice in Wonderland (1951)': 201,
 'Sound of Music, The (1965)': 202,
 'Die Hard (1988)': 203,
 'That Thing You Do! (1996)': 204,
 'Long Kiss Goodnight, The (1996)': 205,
 "William Shakespeare's Romeo + Juliet (1996)": 206,
 'Swingers (1996)': 207,
 'Willy Wonka & the Chocolate Factory (1971)': 208,
 'Fish Called Wanda, A (1988)': 209,
 "Monty Python's Life of Brian (1979)": 210,
 'Bonnie and Clyde (1967)': 211,
 'Dirty Dancing (1987)': 212,
 'Reservoir Dogs (1992)': 213,
 'Platoon (1986)': 214,
 'Basic Instinct (1992)': 215,
 'Doors, The (1991)': 216,
 'Crying Game, The (1992)': 217,
 'E.T. the Extra-Terrestrial (1982)': 218,
 'Top Gun (1986)': 219,
 'Abyss, The (1989)': 220,
 'Escape from New York (1981)': 221,
 'Monty Python and the Holy Grail (1975)': 222,
 'Wallace & Gromit: The Wrong Trousers (1993)': 223,
 'Cinema Paradiso (Nuovo cinema Paradiso) (1989)': 224,
 'English Patient, The (1996)': 225,
 "One Flew Over the Cuckoo's Nest (1975)": 226,
 'Star Wars: Episode V - The Empire Strikes Back (1980)': 227,
 'Princess Bride, The (1987)': 228,
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)': 229,
 'Brazil (1985)': 230,
 'Aliens (1986)': 231,
 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)': 232,
 '12 Angry Men (1957)': 233,
 'Lawrence of Arabia (1962)': 234,
 'Clockwork Orange, A (1971)': 235,
 'To Kill a Mockingbird (1962)': 236,
 'Apocalypse Now (1979)': 237,
 'Star Wars: Episode VI - Return of the Jedi (1983)': 238,
 'Goodfellas (1990)': 239,
 'Alien (1979)': 240,
 'Army of Darkness (1993)': 241,
 'Psycho (1960)': 242,
 'Blues Brothers, The (1980)': 243,
 'Godfather: Part II, The (1974)': 244,
 'Full Metal Jacket (1987)': 245,
 'Amadeus (1984)': 246,
 'Raging Bull (1980)': 247,
 'Annie Hall (1977)': 248,
 'Boot, Das (Boat, The) (1981)': 249,
 'Sting, The (1973)': 250,
 'Terminator, The (1984)': 251,
 'Glory (1989)': 252,
 'Manhattan (1979)': 253,
 'Dead Poets Society (1989)': 254,
 'Graduate, The (1967)': 255,
 'Femme Nikita, La (Nikita) (1990)': 256,
 'Bridge on the River Kwai, The (1957)': 257,
 'Chinatown (1974)': 258,
 'Shining, The (1980)': 259,
 'Stand by Me (1986)': 260,
 'Evil Dead II (Dead by Dawn) (1987)': 261,
 'Great Escape, The (1963)': 262,
 'Deer Hunter, The (1978)': 263,
 'Groundhog Day (1993)': 264,
 'Unforgiven (1992)': 265,
 'Back to the Future (1985)': 266,
 'Patton (1970)': 267,
 'Akira (1988)': 268,
 'Highlander (1986)': 269,
 'Cool Hand Luke (1967)': 270,
 'Young Frankenstein (1974)': 271,
 'Fantasia (1940)': 272,
 'Heathers (1989)': 273,
 'Ben-Hur (1959)': 274,
 'This Is Spinal Tap (1984)': 275,
 'Indiana Jones and the Last Crusade (1989)': 276,
 'Field of Dreams (1989)': 277,
 'Butch Cassidy and the Sundance Kid (1969)': 278,
 'When Harry Met Sally... (1989)': 279,
 'AlienÂ³ (a.k.a. Alien 3) (1992)': 280,
 'Birds, The (1963)': 281,
 'Carrie (1976)': 282,
 'Star Trek: First Contact (1996)': 283,
 'Sling Blade (1996)': 284,
 '101 Dalmatians (1996)': 285,
 'Die Hard 2 (1990)': 286,
 'Star Trek: The Motion Picture (1979)': 287,
 'Star Trek VI: The Undiscovered Country (1991)': 288,
 'Star Trek II: The Wrath of Khan (1982)': 289,
 'Star Trek III: The Search for Spock (1984)': 290,
 'Star Trek IV: The Voyage Home (1986)': 291,
 'Batman Returns (1992)': 292,
 'Grease (1978)': 293,
 'Jaws (1975)': 294,
 'Mars Attacks! (1996)': 295,
 'Jerry Maguire (1996)': 296,
 'Raising Arizona (1987)': 297,
 'Sneakers (1992)': 298,
 'Beavis and Butt-Head Do America (1996)': 299,
 'Scream (1996)': 300,
 'Last of the Mohicans, The (1992)': 301,
 'Donnie Brasco (1997)': 302,
 'Liar Liar (1997)': 303,
 'Grosse Pointe Blank (1997)': 304,
 'Austin Powers: International Man of Mystery (1997)': 305,
 'Fifth Element, The (1997)': 306,
 'Lost World: Jurassic Park, The (1997)': 307,
 'Con Air (1997)': 308,
 'Batman & Robin (1997)': 309,
 'Hercules (1997)': 310,
 "My Best Friend's Wedding (1997)": 311,
 'Face/Off (1997)': 312,
 'Men in Black (a.k.a. MIB) (1997)': 313,
 'Contact (1997)': 314,
 'Conan the Barbarian (1982)': 315,
 'Conspiracy Theory (1997)': 316,
 'Air Force One (1997)': 317,
 'Hunt for Red October, The (1990)': 318,
 'L.A. Confidential (1997)': 319,
 'Game, The (1997)': 320,
 'Chasing Amy (1997)': 321,
 'Full Monty, The (1997)': 322,
 'I Know What You Did Last Summer (1997)': 323,
 "The Devil's Advocate (1997)": 324,
 'Gattaca (1997)': 325,
 'Stripes (1981)': 326,
 'Boogie Nights (1997)': 327,
 'Witness (1985)': 328,
 'Starship Troopers (1997)': 329,
 'Truman Show, The (1998)': 330,
 'Alien: Resurrection (1997)': 331,
 'Good Will Hunting (1997)': 332,
 'Scream 2 (1997)': 333,
 'Titanic (1997)': 334,
 'Tomorrow Never Dies (1997)': 335,
 'Jackie Brown (1997)': 336,
 'Big Lebowski, The (1998)': 337,
 'Wag the Dog (1997)': 338,
 'Dark City (1998)': 339,
 'Wedding Singer, The (1998)': 340,
 'As Good as It Gets (1997)': 341,
 'Wild Things (1998)': 342,
 'Deep Impact (1998)': 343,
 'Godzilla (1998)': 344,
 'Fear and Loathing in Las Vegas (1998)': 345,
 'Mulan (1998)': 346,
 'X-Files: Fight the Future, The (1998)': 347,
 'Dr. Dolittle (1998)': 348,
 'Out of Sight (1998)': 349,
 'Armageddon (1998)': 350,
 'Lethal Weapon 4 (1998)': 351,
 'Pi (1998)': 352,
 "There's Something About Mary (1998)": 353,
 'West Side Story (1961)': 354,
 'French Connection, The (1971)': 355,
 'Rocky (1976)': 356,
 'Rain Man (1988)': 357,
 'Labyrinth (1986)': 358,
 'Breakfast Club, The (1985)': 359,
 'Poltergeist (1982)': 360,
 'Exorcist, The (1973)': 361,
 'Lethal Weapon (1987)': 362,
 'Lethal Weapon 2 (1989)': 363,
 'Lethal Weapon 3 (1992)': 364,
 'Gremlins (1984)': 365,
 'Goonies, The (1985)': 366,
 'Mask of Zorro, The (1998)': 367,
 'Back to the Future Part II (1989)': 368,
 'Back to the Future Part III (1990)': 369,
 'Bambi (1942)': 370,
 'Seven Samurai (Shichinin no samurai) (1954)': 371,
 'Dune (1984)': 372,
 'Godfather: Part III, The (1990)': 373,
 'Saving Private Ryan (1998)': 374,
 'Honey, I Shrunk the Kids (1989)': 375,
 'Roger & Me (1989)': 376,
 'Blue Velvet (1986)': 377,
 'Jungle Book, The (1967)': 378,
 'Lady and the Tramp (1955)': 379,
 'Little Mermaid, The (1989)': 380,
 '101 Dalmatians (One Hundred and One Dalmatians) (1961)': 381,
 'Peter Pan (1953)': 382,
 'Rocketeer, The (1991)': 383,
 'Splash (1984)': 384,
 'Tron (1982)': 385,
 'Indiana Jones and the Temple of Doom (1984)': 386,
 'Addams Family, The (1991)': 387,
 'Dark Crystal, The (1982)': 388,
 'Sixteen Candles (1984)': 389,
 'Pretty in Pink (1986)': 390,
 "Rosemary's Baby (1968)": 391,
 'NeverEnding Story, The (1984)': 392,
 'Blade (1998)': 393,
 'Beetlejuice (1988)': 394,
 'Willow (1988)': 395,
 'Untouchables, The (1987)': 396,
 'Rounders (1998)': 397,
 'Say Anything... (1989)': 398,
 'Few Good Men, A (1992)': 399,
 'Rush Hour (1998)': 400,
 'Ronin (1998)': 401,
 'Thing, The (1982)': 402,
 'Player, The (1992)': 403,
 'Edward Scissorhands (1990)': 404,
 'Antz (1998)': 405,
 'Producers, The (1968)': 406,
 'My Cousin Vinny (1992)': 407,
 'Pleasantville (1998)': 408,
 'Life Is Beautiful (La Vita Ã¨ bella) (1997)': 409,
 'American History X (1998)': 410,
 'Enemy of the State (1998)': 411,
 "Bug's Life, A (1998)": 412,
 'Star Trek: Insurrection (1998)': 413,
 'Rushmore (1998)': 414,
 'Shakespeare in Love (1998)': 415,
 'Romancing the Stone (1984)': 416,
 'Cocoon (1985)': 417,
 'Karate Kid, The (1984)': 418,
 "You've Got Mail (1998)": 419,
 'Thin Red Line, The (1998)': 420,
 'Fly, The (1986)': 421,
 'Crocodile Dundee (1986)': 422,
 'Payback (1999)': 423,
 'Office Space (1999)': 424,
 'Planet of the Apes (1968)': 425,
 'Analyze This (1999)': 426,
 'Cruel Intentions (1999)': 427,
 'Lock, Stock & Two Smoking Barrels (1998)': 428,
 'Matrix, The (1999)': 429,
 '10 Things I Hate About You (1999)': 430,
 'Go (1999)': 431,
 'Never Been Kissed (1999)': 432,
 'Election (1999)': 433,
 'Entrapment (1999)': 434,
 'Mummy, The (1999)': 435,
 'Star Wars: Episode I - The Phantom Menace (1999)': 436,
 'Superman (1978)': 437,
 'Superman II (1980)': 438,
 'Rocky Horror Picture Show, The (1975)': 439,
 'Notting Hill (1999)': 440,
 'Austin Powers: The Spy Who Shagged Me (1999)': 441,
 'Run Lola Run (Lola rennt) (1998)': 442,
 'Big Daddy (1999)': 443,
 'Arachnophobia (1990)': 444,
 'South Park: Bigger, Longer and Uncut (1999)': 445,
 'Wild Wild West (1999)': 446,
 'American Pie (1999)': 447,
 'Blair Witch Project, The (1999)': 448,
 'Eyes Wide Shut (1999)': 449,
 'Ghostbusters (a.k.a. Ghost Busters) (1984)': 450,
 'Ghostbusters II (1989)': 451,
 'Mystery Men (1999)': 452,
 'Runaway Bride (1999)': 453,
 'Little Shop of Horrors (1986)': 454,
 'Iron Giant, The (1999)': 455,
 'Sixth Sense, The (1999)': 456,
 'Thomas Crown Affair, The (1999)': 457,
 'Bowfinger (1999)': 458,
 'Airplane! (1980)': 459,
 'Big (1988)': 460,
 'Christmas Story, A (1983)': 461,
 'American Beauty (1999)': 462,
 'Three Kings (1999)': 463,
 "Boys Don't Cry (1999)": 464,
 'Risky Business (1983)': 465,
 'Total Recall (1990)': 466,
 "Ferris Bueller's Day Off (1986)": 467,
 'Dirty Dozen, The (1967)': 468,
 'Goldfinger (1964)': 469,
 'From Russia with Love (1963)': 470,
 'Dr. No (1962)': 471,
 'Fistful of Dollars, A (Per un pugno di dollari) (1964)': 472,
 'Home Alone 2: Lost in New York (1992)': 473,
 'Fight Club (1999)': 474,
 'Time Bandits (1981)': 475,
 'RoboCop (1987)': 476,
 'Who Framed Roger Rabbit? (1988)': 477,
 'Being John Malkovich (1999)': 478,
 'Princess Mononoke (Mononoke-hime) (1997)': 479,
 'Insider, The (1999)': 480,
 'Spaceballs (1987)': 481,
 'Robin Hood (1973)': 482,
 'Trading Places (1983)': 483,
 'Dogma (1999)': 484,
 'Sleepy Hollow (1999)': 485,
 'World Is Not Enough, The (1999)': 486,
 'Fatal Attraction (1987)': 487,
 'Fisher King, The (1991)': 488,
 'Toy Story 2 (1999)': 489,
 'Green Mile, The (1999)': 490,
 'Magnolia (1999)': 491,
 'Man on the Moon (1999)': 492,
 'Galaxy Quest (1999)': 493,
 'Talented Mr. Ripley, The (1999)': 494,
 'Fast Times at Ridgemont High (1982)': 495,
 'Sister Act (1992)': 496,
 "Wayne's World (1992)": 497,
 'League of Their Own, A (1992)': 498,
 'Patriot Games (1992)': 499,
 'Bodyguard, The (1992)': 500,
 'Boondock Saints, The (2000)': 501,
 'Beach, The (2000)': 502,
 'Pitch Black (2000)': 503,
 'Whole Nine Yards, The (2000)': 504,
 'Bull Durham (1988)': 505,
 'Dog Day Afternoon (1975)': 506,
 'American Graffiti (1973)': 507,
 'JFK (1991)': 508,
 'Muppet Movie, The (1979)': 509,
 'Erin Brockovich (2000)': 510,
 'Final Destination (2000)': 511,
 'Thelma & Louise (1991)': 512,
 'Animal House (1978)': 513,
 'Good Morning, Vietnam (1987)': 514,
 'Close Encounters of the Third Kind (1977)': 515,
 'High Fidelity (2000)': 516,
 'Hook (1991)': 517,
 'Misery (1990)': 518,
 'Frequency (2000)': 519,
 'Predator (1987)': 520,
 'American Psycho (2000)': 521,
 'Caddyshack (1980)': 522,
 'U-571 (2000)': 523,
 'Gladiator (2000)': 524,
 'Road Trip (2000)': 525,
 'Mission: Impossible II (2000)': 526,
 'Shanghai Noon (2000)': 527,
 'Blazing Saddles (1974)': 528,
 'For a Few Dollars More (Per qualche dollaro in piÃ¹) (1965)': 529,
 'Running Man, The (1987)': 530,
 'Mad Max (1979)': 531,
 'Road Warrior, The (Mad Max 2) (1981)': 532,
 'Gone in 60 Seconds (2000)': 533,
 'Chicken Run (2000)': 534,
 'Me, Myself & Irene (2000)': 535,
 'Patriot, The (2000)': 536,
 'Perfect Storm, The (2000)': 537,
 'Scary Movie (2000)': 538,
 'X-Men (2000)': 539,
 'What About Bob? (1991)': 540,
 'Hollow Man (2000)': 541,
 'Cell, The (2000)': 542,
 'Naked Gun: From the Files of Police Squad!, The (1988)': 543,
 'Bring It On (2000)': 544,
 'Almost Famous (2000)': 545,
 'Best in Show (2000)': 546,
 'Remember the Titans (2000)': 547,
 'Meet the Parents (2000)': 548,
 'Requiem for a Dream (2000)': 549,
 'Billy Elliot (2000)': 550,
 "Charlie's Angels (2000)": 551,
 'How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)': 552,
 'Unbreakable (2000)': 553,
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)': 554,
 'Snatch (2000)': 555,
 'Chocolat (2000)': 556,
 "Dude, Where's My Car? (2000)": 557,
 "Emperor's New Groove, The (2000)": 558,
 'What Women Want (2000)': 559,
 'Cast Away (2000)': 560,
 'Miss Congeniality (2000)': 561,
 'O Brother, Where Art Thou? (2000)': 562,
 'Traffic (2000)': 563,
 'Beverly Hills Cop (1984)': 564,
 'Hannibal (2001)': 565,
 'Enemy at the Gates (2001)': 566,
 'Memento (2000)': 567,
 'Blow (2001)': 568,
 "Bridget Jones's Diary (2001)": 569,
 'Scarface (1983)': 570,
 'Mummy Returns, The (2001)': 571,
 "Knight's Tale, A (2001)": 572,
 'Shrek (2001)': 573,
 'Moulin Rouge (2001)': 574,
 'Pearl Harbor (2001)': 575,
 'City Slickers (1991)': 576,
 'Swordfish (2001)': 577,
 'Tootsie (1982)': 578,
 'Lara Croft: Tomb Raider (2001)': 579,
 'Fast and the Furious, The (2001)': 580,
 'A.I. Artificial Intelligence (2001)': 581,
 'Final Fantasy: The Spirits Within (2001)': 582,
 'Legally Blonde (2001)': 583,
 "Bill & Ted's Excellent Adventure (1989)": 584,
 'Jurassic Park III (2001)': 585,
 'Ghost World (2001)': 586,
 'Planet of the Apes (2001)': 587,
 'Rush Hour 2 (2001)': 588,
 'American Pie 2 (2001)': 589,
 'Others, The (2001)': 590,
 'Jay and Silent Bob Strike Back (2001)': 591,
 'Training Day (2001)': 592,
 'Zoolander (2001)': 593,
 'Mulholland Drive (2001)': 594,
 'K-PAX (2001)': 595,
 'Donnie Darko (2001)': 596,
 'Monsters, Inc. (2001)': 597,
 'Shallow Hal (2001)': 598,
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)": 599,

In [37]:
#we add repeatCount column to ratings df

ratings = ratings.merge(movie_analysis[['movieId','repeatCount']], on='movieId')
ratings

       userId  movieId  rating  repeatCount
0           1        1     4.0          223
1         517        1     4.0          223
2         213        1     3.5          223
3         514        1     4.0          223
4         214        1     3.0          223
...       ...      ...     ...          ...
57353     525   152081     3.0           39
57354      21   152081     4.0           39
57355     114   152081     3.5           39
57356     596   152081     4.0           39
57357     401   152081     4.0           39

[57358 rows x 4 columns]

In [38]:
ratings.sort_values(by='userId')

       userId  movieId  rating  repeatCount
0           1        1     4.0          223
28887       1     2018     5.0           47
18635       1     1136     5.0          141
8523        1      362     5.0           40
29070       1     2028     4.0          189
...       ...      ...     ...          ...
16408     610      912     3.5          102
39747     610     3977     2.0           75
18349     610     1097     4.5          128
53730     610    60684     3.5           48
52383     610    52973     5.0           54

[57358 rows x 4 columns]

In [39]:
user_rating_count = ratings[['userId','rating']].groupby('userId').count()
user_rating_mean = ratings[['userId','rating']].groupby('userId').mean()

In [40]:
#created user_analysis dataframe

user_analysis = user_rating_count.merge(user_rating_mean, on='userId', how='inner')
user_analysis.rename(columns={'rating_x':'rating_count'}, inplace=True)
user_analysis.rename(columns={'rating_y':'avg_rating'}, inplace=True)
user_analysis

        rating_count  avg_rating
userId
1                157    4.401274
2                 19    3.868421
3                 19    1.736842
4                116    3.431034
5                 37    3.540541
...              ...         ...
606              363    3.663912
607              126    3.730159
608              479    3.339248
609               25    3.280000
610              405    4.046914

[609 rows x 2 columns]

In [41]:
#then we add these features to ratings dataframe

ratings = ratings.merge(user_analysis, on='userId', how='left')
ratings

       userId  movieId  rating  repeatCount  rating_count  avg_rating
0           1        1     4.0          223           157    4.401274
1         517        1     4.0          223           220    2.550000
2         213        1     3.5          223            47    4.021277
3         514        1     4.0          223           196    3.767857
4         214        1     3.0          223            17    2.823529
...       ...      ...     ...          ...           ...         ...
57353     525   152081     3.0           39           312    3.639423
57354      21   152081     4.0           39           226    3.398230
57355     114   152081     3.5           39            27    3.481481
57356     596   152081     4.0           39           249    3.483936
57357     401   152081     4.0           39            48    3.458333

[57358 rows x 6 columns]

In [42]:
#creating 'umr_dict' (userId, movieId, rating dictionary) and export so we will use this when we are predicting

inner_dict_name = 'movies'
def create_inner_dict(group):
    return {inner_dict_name: dict(zip(group['movieId'], group['rating']))}

umr_dict = ratings[['userId','movieId','rating']].groupby('userId').apply(create_inner_dict).to_dict()

with open('./pickles/umr_dict.pickle', 'wb') as f:
    # Dump the dictionary into the file using pickle
    pickle.dump(umr_dict, f)

In [43]:
#augmenting data with repeating

ratings = ratings.loc[ratings.index.repeat(ratings['repeatCount'])]
ratings

       userId  movieId  rating  repeatCount  rating_count  avg_rating
0           1        1     4.0          223           157    4.401274
0           1        1     4.0          223           157    4.401274
0           1        1     4.0          223           157    4.401274
0           1        1     4.0          223           157    4.401274
0           1        1     4.0          223           157    4.401274
...       ...      ...     ...          ...           ...         ...
57357     401   152081     4.0           39            48    3.458333
57357     401   152081     4.0           39            48    3.458333
57357     401   152081     4.0           39            48    3.458333
57357     401   152081     4.0           39            48    3.458333
57357     401   152081     4.0           39            48    3.458333

[5630131 rows x 6 columns]

In [44]:
item_vecs = movie_analysis[['movieId','year','avg_rating']]
movie_analysis = movie_analysis[['movieId','avg_rating']]
item_vecs

     movieId  year  avg_rating
0          1  1995    3.920930
1          2  1995    3.431818
2          3  1995    3.259615
3          5  1995    3.071429
4          6  1995    3.946078
..       ...   ...         ...
855   122904  2016    3.833333
856   134130  2015    4.000000
857   134853  2015    3.813953
858   139385  2015    3.903226
859   152081  2016    3.890625

[860 rows x 3 columns]

In [45]:
item_vecs = item_vecs.merge(movies_w_genres, on='movieId')
item_vecs = item_vecs.drop('genres', axis=1)

movie_analysis = movie_analysis.merge(movies_w_genres, on='movieId')
movie_analysis = movie_analysis.drop('genres', axis=1)

In [46]:
item_vecs.drop('title',axis=1,inplace=True)
item_vecs.to_csv('item_vecs.csv',index=False, header=False)

In [47]:
movie_analysis

,movieId,avg_rating,title,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1,3.920930,Toy Story (1995),0,1,1,1,1,0,0,0,1,0,0,0,0,0
1,2,3.431818,Jumanji (1995),0,1,0,1,0,0,0,0,1,0,0,0,0,0
2,3,3.259615,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,0,0,0,1,0,0
3,5,3.071429,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,6,3.946078,Heat (1995),1,0,0,0,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,122904,3.833333,Deadpool (2016),1,1,0,0,1,0,0,0,0,0,0,0,1,0
856,134130,4.000000,The Martian (2015),0,1,0,0,0,0,0,1,0,0,0,0,1,0
857,134853,3.813953,Inside Out (2015),0,1,1,1,1,0,0,1,1,0,0,0,0,0
858,139385,3.903226,The Revenant (2015),0,1,0,0,0,0,0,1,0,0,0,0,0,0
859,152081,3.890625,Zootopia (2016),1,1,1,1,1,0,0,0,0,0,0,0,0,0

In [48]:
genreCalcDF = pd.DataFrame(movie_analysis)
genreCalcDF.drop(columns=['avg_rating','title'], axis=1, inplace=True)
genreCalcDF

,movieId,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1,0,1,1,1,1,0,0,0,1,0,0,0,0,0
1,2,0,1,0,1,0,0,0,0,1,0,0,0,0,0
2,3,0,0,0,0,1,0,0,0,0,0,0,1,0,0
3,5,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,6,1,0,0,0,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,122904,1,1,0,0,1,0,0,0,0,0,0,0,1,0
856,134130,0,1,0,0,0,0,0,1,0,0,0,0,1,0
857,134853,0,1,1,1,1,0,0,1,1,0,0,0,0,0
858,139385,0,1,0,0,0,0,0,1,0,0,0,0,0,0
859,152081,1,1,1,1,1,0,0,0,0,0,0,0,0,0

In [49]:
genreCalcDF = pd.merge(ratings, genreCalcDF, on = 'movieId')
genreCalcDF

,userId,movieId,rating,repeatCount,rating_count,avg_rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1,1,4.0,223,157,4.401274,0,1,1,1,1,0,0,0,1,0,0,0,0,0
1,1,1,4.0,223,157,4.401274,0,1,1,1,1,0,0,0,1,0,0,0,0,0
2,1,1,4.0,223,157,4.401274,0,1,1,1,1,0,0,0,1,0,0,0,0,0
3,1,1,4.0,223,157,4.401274,0,1,1,1,1,0,0,0,1,0,0,0,0,0
4,1,1,4.0,223,157,4.401274,0,1,1,1,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5630126,401,152081,4.0,39,48,3.458333,1,1,1,1,1,0,0,0,0,0,0,0,0,0
5630127,401,152081,4.0,39,48,3.458333,1,1,1,1,1,0,0,0,0,0,0,0,0,0
5630128,401,152081,4.0,39,48,3.458333,1,1,1,1,1,0,0,0,0,0,0,0,0,0
5630129,401,152081,4.0,39,48,3.458333,1,1,1,1,1,0,0,0,0,0,0,0,0,0
5630130,401,152081,4.0,39,48,3.458333,1,1,1,1,1,0,0,0,0,0,0,0,0,0

In [50]:
columns = genreCalcDF.columns
columns = columns.drop(['userId','rating','movieId','repeatCount','rating_count','avg_rating'])
columns

Index(['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Horror', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller'],
      dtype='object')

In [51]:
for i in columns:
    genreCalcDF[i] = genreCalcDF[i] * genreCalcDF['rating']
genreCalcDF.sort_values('userId', inplace=True)
genreCalcDF

,userId,movieId,rating,repeatCount,rating_count,avg_rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1,1,4.0,223,157,4.401274,0.0,4.0,4.0,4.0,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
3522611,1,2353,5.0,70,157,4.401274,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3522610,1,2353,5.0,70,157,4.401274,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3522609,1,2353,5.0,70,157,4.401274,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3522608,1,2353,5.0,70,157,4.401274,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3697665,610,2628,3.0,144,405,4.046914,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
3697664,610,2628,3.0,144,405,4.046914,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
3697663,610,2628,3.0,144,405,4.046914,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
3697675,610,2628,3.0,144,405,4.046914,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
4201098,610,3752,3.5,49,405,4.046914,0.0,3.5,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
genreCalcDF.replace(0, np.nan, inplace=True)

grouped = genreCalcDF[['userId','rating','Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Horror', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller']].groupby(['userId']).mean()
grouped.replace(np.nan, 0, inplace=True)
grouped = grouped.reset_index()
grouped

,userId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1,4.386339,4.314322,4.406360,4.642857,4.712817,4.248431,4.357483,0.000000,4.399524,4.447579,3.279826,4.491241,4.252231,4.332343,4.221207
1,2,3.831426,4.012935,4.036304,0.000000,0.000000,3.988166,3.760476,0.000000,3.866120,0.000000,3.000000,4.000000,4.500000,3.896057,3.938944
2,3,1.491449,3.914336,3.738596,0.500000,0.500000,0.500000,0.000000,0.000000,0.500000,2.506623,4.000000,0.000000,0.500000,3.732794,4.643357
3,4,3.404464,3.205338,3.837613,3.849810,4.023121,3.371575,3.459840,0.000000,3.212456,4.121255,4.506173,2.738629,3.263917,2.718346,2.866915
4,5,3.575807,3.100407,3.294612,4.147577,4.037986,3.505860,3.643135,0.000000,3.760920,4.224909,3.000000,4.000000,2.954600,2.613941,3.650548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,606,3.747637,3.561907,3.618071,3.683623,3.608268,3.564808,3.951020,4.000000,3.917556,3.698100,3.770227,3.804289,3.792151,3.647882,3.775536
605,607,3.836736,3.782987,3.502354,3.357285,3.650565,3.347939,3.864714,0.000000,4.081291,3.484096,4.152187,4.807554,3.644503,3.484638,4.033825
606,608,3.426483,3.526191,3.363805,3.162697,2.873238,3.120970,3.805606,3.353723,3.578827,3.214980,3.731632,3.926115,3.071267,3.518950,3.714096
607,609,3.383508,3.082217,3.209028,3.000000,3.000000,3.581670,3.609073,0.000000,3.562641,3.000000,4.000000,0.000000,3.702760,3.000000,3.361473
608,610,4.190215,4.248085,4.225753,4.152609,4.108337,4.054981,4.265625,4.000000,4.189497,4.170596,4.261021,4.350904,3.980188,4.289857,4.327551

In [53]:
genreCalcDF = genreCalcDF.iloc[:,:5]
genreCalcDF

         userId  movieId  rating  repeatCount  rating_count
0             1        1     4.0          223           157
3522611       1     2353     5.0           70           157
3522610       1     2353     5.0           70           157
3522609       1     2353     5.0           70           157
3522608       1     2353     5.0           70           157
...         ...      ...     ...          ...           ...
3697665     610     2628     3.0          144           405
3697664     610     2628     3.0          144           405
3697663     610     2628     3.0          144           405
3697675     610     2628     3.0          144           405
4201098     610     3752     3.5           49           405

[5630131 rows x 5 columns]

In [54]:
user_df = genreCalcDF.merge(grouped, on='userId', how='left')
user_df

,userId,movieId,rating_x,repeatCount,rating_count,rating_y,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1,1,4.0,223,157,4.386339,4.314322,4.406360,4.642857,4.712817,4.248431,4.357483,0.0,4.399524,4.447579,3.279826,4.491241,4.252231,4.332343,4.221207
1,1,2353,5.0,70,157,4.386339,4.314322,4.406360,4.642857,4.712817,4.248431,4.357483,0.0,4.399524,4.447579,3.279826,4.491241,4.252231,4.332343,4.221207
2,1,2353,5.0,70,157,4.386339,4.314322,4.406360,4.642857,4.712817,4.248431,4.357483,0.0,4.399524,4.447579,3.279826,4.491241,4.252231,4.332343,4.221207
3,1,2353,5.0,70,157,4.386339,4.314322,4.406360,4.642857,4.712817,4.248431,4.357483,0.0,4.399524,4.447579,3.279826,4.491241,4.252231,4.332343,4.221207
4,1,2353,5.0,70,157,4.386339,4.314322,4.406360,4.642857,4.712817,4.248431,4.357483,0.0,4.399524,4.447579,3.279826,4.491241,4.252231,4.332343,4.221207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5630126,610,2628,3.0,144,405,4.190215,4.248085,4.225753,4.152609,4.108337,4.054981,4.265625,4.0,4.189497,4.170596,4.261021,4.350904,3.980188,4.289857,4.327551
5630127,610,2628,3.0,144,405,4.190215,4.248085,4.225753,4.152609,4.108337,4.054981,4.265625,4.0,4.189497,4.170596,4.261021,4.350904,3.980188,4.289857,4.327551
5630128,610,2628,3.0,144,405,4.190215,4.248085,4.225753,4.152609,4.108337,4.054981,4.265625,4.0,4.189497,4.170596,4.261021,4.350904,3.980188,4.289857,4.327551
5630129,610,2628,3.0,144,405,4.190215,4.248085,4.225753,4.152609,4.108337,4.054981,4.265625,4.0,4.189497,4.170596,4.261021,4.350904,3.980188,4.289857,4.327551
5630130,610,3752,3.5,49,405,4.190215,4.248085,4.225753,4.152609,4.108337,4.054981,4.265625,4.0,4.189497,4.170596,4.261021,4.350904,3.980188,4.289857,4.327551

In [55]:
movie_analysis = movie_analysis.merge(movies[['movieId','year']], on='movieId', how='left')
movie_analysis = movie_analysis.reindex(columns=['movieId','year','avg_rating','Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Horror', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller'])
movie_analysis

,movieId,year,avg_rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1,1995,3.920930,0,1,1,1,1,0,0,0,1,0,0,0,0,0
1,2,1995,3.431818,0,1,0,1,0,0,0,0,1,0,0,0,0,0
2,3,1995,3.259615,0,0,0,0,1,0,0,0,0,0,0,1,0,0
3,5,1995,3.071429,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,6,1995,3.946078,1,0,0,0,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,122904,2016,3.833333,1,1,0,0,1,0,0,0,0,0,0,0,1,0
856,134130,2015,4.000000,0,1,0,0,0,0,0,1,0,0,0,0,1,0
857,134853,2015,3.813953,0,1,1,1,1,0,0,1,1,0,0,0,0,0
858,139385,2015,3.903226,0,1,0,0,0,0,0,1,0,0,0,0,0,0
859,152081,2016,3.890625,1,1,1,1,1,0,0,0,0,0,0,0,0,0

In [56]:
item_df = movie_analysis.merge(genreCalcDF['movieId'], on='movieId', how='left')
item_df.sort_values(by='movieId', inplace=True)
item_df

,movieId,year,avg_rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1,1995,3.920930,0,1,1,1,1,0,0,0,1,0,0,0,0,0
31958,1,1995,3.920930,0,1,1,1,1,0,0,0,1,0,0,0,0,0
31959,1,1995,3.920930,0,1,1,1,1,0,0,0,1,0,0,0,0,0
31960,1,1995,3.920930,0,1,1,1,1,0,0,0,1,0,0,0,0,0
31961,1,1995,3.920930,0,1,1,1,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629295,152081,2016,3.890625,1,1,1,1,1,0,0,0,0,0,0,0,0,0
5629294,152081,2016,3.890625,1,1,1,1,1,0,0,0,0,0,0,0,0,0
5629293,152081,2016,3.890625,1,1,1,1,1,0,0,0,0,0,0,0,0,0
5629300,152081,2016,3.890625,1,1,1,1,1,0,0,0,0,0,0,0,0,0
5630130,152081,2016,3.890625,1,1,1,1,1,0,0,0,0,0,0,0,0,0

In [57]:
user_df.sort_values(by='movieId',inplace=True)
y_df = user_df['rating_x']
y_df
user_df.drop(['movieId','rating_x','repeatCount'],axis=1,inplace=True)
user_df.rename(columns={'rating_y': 'rating_average'}, inplace=True)
user_df

,userId,rating_count,rating_average,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller
0,1,157,4.386339,4.314322,4.406360,4.642857,4.712817,4.248431,4.357483,0.000000,4.399524,4.447579,3.279826,4.491241,4.252231,4.332343,4.221207
4676867,517,220,2.662250,2.153441,2.719302,3.203488,3.376324,2.742244,2.309676,0.000000,2.723879,3.077920,1.905612,1.723588,2.843044,2.597649,2.078313
4676866,517,220,2.662250,2.153441,2.719302,3.203488,3.376324,2.742244,2.309676,0.000000,2.723879,3.077920,1.905612,1.723588,2.843044,2.597649,2.078313
4676865,517,220,2.662250,2.153441,2.719302,3.203488,3.376324,2.742244,2.309676,0.000000,2.723879,3.077920,1.905612,1.723588,2.843044,2.597649,2.078313
4676864,517,220,2.662250,2.153441,2.719302,3.203488,3.376324,2.742244,2.309676,0.000000,2.723879,3.077920,1.905612,1.723588,2.843044,2.597649,2.078313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3632556,401,48,3.393764,3.226357,3.427546,3.513661,3.485444,3.445603,3.500000,0.000000,3.464067,3.382743,0.000000,0.000000,3.460123,3.043278,4.000000
3632555,401,48,3.393764,3.226357,3.427546,3.513661,3.485444,3.445603,3.500000,0.000000,3.464067,3.382743,0.000000,0.000000,3.460123,3.043278,4.000000
3632554,401,48,3.393764,3.226357,3.427546,3.513661,3.485444,3.445603,3.500000,0.000000,3.464067,3.382743,0.000000,0.000000,3.460123,3.043278,4.000000
2270690,252,18,4.425980,3.775763,4.513595,4.651385,4.691099,4.593142,3.500000,0.000000,4.498829,4.588068,0.000000,3.500000,0.000000,3.697468,3.729167
4764973,525,312,3.718974,3.713604,3.715001,3.392492,3.397903,3.768434,3.905541,3.702128,3.815327,3.685142,3.774194,3.900196,3.765587,3.680210,3.810792

In [58]:
y_df

0          4.0
4676867    4.0
4676866    4.0
4676865    4.0
4676864    4.0
          ...
3632556    4.0
3632555    4.0
3632554    4.0
2270690    4.0
4764973    3.0
Name: rating_x, Length: 5630131, dtype: float64

CSV!!!!!!11

In [59]:
item_df.to_csv('csv/x_item.csv',index=False, header=False)
#user_df.to_csv('csv/x_user.csv',index=False, header=False)
#y_df.to_csv('csv/y.csv',index=False, header=False)