In [1]:
import numpy as np
import pandas as pd

In [2]:
#read data
df_movies = pd.read_csv('../../Dataset/ml-25m/movies.csv')
df_ratings = pd.read_csv('../../Dataset/ml-25m/ratings.csv')

In [4]:
#check columns
print(df_movies.columns)
print(df_ratings.columns)

Index(['movieId', 'title', 'genres'], dtype='object')
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [7]:
#creating movie_rating dataframe (includes only movieId's and ratings)
move_rating_df = df_ratings.copy()
move_rating_df.drop(['userId','timestamp'], axis=1, inplace=True)

In [13]:
#sort the new dataframe by movieId for calculate average rating for all movies
move_rating_df.sort_values(by=['movieId'], inplace=True)
move_rating_df

          movieId  rating
21622638        1     4.5
13228080        1     3.0
10506320        1     3.0
23060279        1     3.5
2929531         1     5.0
...           ...     ...
17318700   193878     2.0
7939059    193880     2.0
3236396    193882     2.0
22170940   193886     4.0
20204218   193886     2.5

[27753444 rows x 2 columns]

In [12]:
#for loop

          movieId  rating
21622638        1     4.5
23522632        1     3.5
3193696         1     5.0
3695861         1     4.0
2942507         1     4.0
...           ...     ...
17318700   193878     2.0
7939059    193880     2.0
3236396    193882     2.0
22170940   193886     4.0
20204218   193886     2.5

[27753444 rows x 2 columns]